* {
    background-color: var(--dark);
    color: white;
}


header{ 
    text-align: center;
    background-image: linear-gradient(to bottom, #909090 0%, black 100%);
}
header p{
    font-size: 15px;
    padding-bottom: 10px;
}

h1 {
    color: var(--font-color);
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}



main {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}

.header {
    margin-bottom: 10px;
}

.content {
  font-size: 14px;
  flex: 1 0 200px;
  padding: 10px;
  text-align: center;
  border-style: dashed;
  border-width: 1px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  color: var(--font-color);
  transition: all 0.5s ease-in-out;
  
  
} 

section p {
    font-size: 10px;
    margin: 10px;
    
}

code {
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
}

.card{
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    justify-content: center;
    display: flex;
    text-align: left;
    border-radius: 10px;
    flex-direction: column;
    padding-left: 8%;

    
    
    
  
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
  } 

  .card-header {
      position:relative;
      margin-top: -20px;
      width:100%;
      border-radius: 8px;
      color:rgb(250, 190, 232);
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      transition: all 0.5s ease-in-out;
      border-style: solid;
      border-width: 1px;
  }



  .content:hover, .card-header{
      box-shadow: inset 0px 0px 8px
      aqua, 0 0 15px
      aqua;
      
  }

/* section div p {
    justify-content: flex-end;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
} */


@media screen and (max-width: 768px) {

    .content {
        flex: 1 0 100px;
      }
      section p {
    
          font-size: 20px;
      }
      }
      section div {
  
          flex: 1 0 100px;
  
      }
    
  
  @media screen and (max-width: 992px) {
    main,
    .content {
        flex-direction: column;
        flex: 1 0 200px;
      }
      section p {
          font-size: 15px;
      }
      }
      section div {
          flex: 1 0 100px;
      }

    .card-header {
        font-size:20px;
    }
    
  
  @media screen and (min-width: 992px) {
    
    .content {
      flex: 1 0 400px;
    }
    section p {
  
        font-size: 25px;
    }
    }
    section div {

        flex: 1 0 100px;

    }
  
  